body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    justify-content: flex-start;
    justify-content: space-evenly;
    align-items: baseline;
    height: 100vh;
    text-align: center;
}

h1 {
    color: #333;
}

button {

    padding: 20px 20px;
    background-color: #f0f0f0;
    color: black;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: lightgray;
}